<ul class="list-group">

  <ng-template ngFor [ngForOf]="labels" let-label>

    <ng-container *ngTemplateOutlet="labelItem; context: {$implicit: label}"></ng-container>

  </ng-template>
</ul>

<ng-template #labelItem let-label>

  <ng-container *ngIf="!label.children || label.children?.length === 0">

    <a class="list-group-item" href="javascript:void(0)"
       (click)="selectLabel(label)"
       [ngClass]="{'active': label.active}">

      <i class="fa fa-fw fa-inbox"></i>&nbsp;{{ label.name }}
      <span class="badge badge-primary" *ngIf="label.messagesUnread > 0">{{ label.messagesUnread }}</span>

    </a>

  </ng-container>

  <ng-container *ngIf="label.children && label.children?.length !== 0">

    <div class="nested-menu">

      <a class="list-group-item" href="javascript:void(0)" (click)="label.expand = !label.expand">
        <span><i class="fa fa-plus"></i>&nbsp; {{ label.name }}</span>
      </a>

      <div class="nested" [class.expand]="label.expand">
        <ul class="submenu">

          <ng-template ngFor [ngForOf]="label.children" let-sublabel>

            <ng-container *ngTemplateOutlet="labelItem; context: {$implicit: sublabel}"></ng-container>

          </ng-template>

        </ul>
      </div>

    </div>

  </ng-container>

</ng-template>
