<ul class="list-group">

  <ng-template ngFor [ngForOf]="folders" let-folder>

    <ng-template ngIf [ngIf]="!folder.children || folder.children?.length === 0">
      <ng-container *ngTemplateOutlet="folderItem; context: {$implicit: folder}"></ng-container>
    </ng-template>

    <ng-template ngIf [ngIf]="folder.children && folder.children?.length > 0">

      <div class="nested-menu">

        <a class="list-group-item" href="javascript:void(0)" (click)="folder.expand = !folder.expand">
          <span><i class="fa fa-plus"></i>&nbsp; {{ folder.name }}</span>
        </a>

        <div class="nested" [class.expand]="folder.expand">
          <ul class="submenu">

            <ng-template ngFor [ngForOf]="folder.children" let-subfolder>

              <ng-container *ngTemplateOutlet="folderItem; context: {$implicit: subfolder}"></ng-container>

            </ng-template>

          </ul>

        </div>
      </div>

    </ng-template>

  </ng-template>
</ul>

<ng-template #folderItem let-folder>
  <a class="list-group-item" href="javascript:void(0)"
     (click)="selectFolder(folder)"
     [ngClass]="{'active': folder.active}">
    <i class="fa fa-fw fa-inbox"></i>&nbsp;{{ folder.name }}
    <span class="badge badge-primary" *ngIf="folder.messagesUnread > 0">{{ folder.messagesUnread }}</span>
  </a>
</ng-template>
