<app-navigation
  [loggedUser]="loggedUser?.name"
  [userAvatar]="loggedUser?.avatarUrl"
  (search)="searchMail($event)"
  (compose)="openMailModal()"
  (logout)="onLogout()"
></app-navigation>

<section class="container-fluid">
  <div class="row">

    <nav app-label-sidebar
         *ngIf="labelList.length"
         class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar"
         [labels]="labelList"
         (labelSelected)="onLabelSelected($event)"
    ></nav>

    <!-- loading layout replaced by app after startupp -->
    <div class="app-loading" *ngIf="loading">
      <div class="logo"></div>
      <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
      </svg>
    </div>

    <main app-mail-list
          *ngIf="!loading"
          class="col-sm-8 ml-sm-auto col-md-9 pt-3"
          [messages]="messageList"
          [hasPreviousPage]="hasPreviousPage"
          [hasNextPage]="hasNextPage"
          (reply)="replyTo($event)"
          (forward)="forwardMessage($event)"
          (remove)="deleteMessage($event)"
          (previous)="goToPreviousPage()"
          (next)="goToNextPage()"
    >
      <h2>Content!</h2>
    </main>

  </div>
</section>

<app-mail-form-modal (send)="sendMessage($event)"></app-mail-form-modal>
