<app-navigation
  [loggedUser]="loggedUser?.name"
  [userAvatar]="loggedUser?.avatarUrl"
  (logout)="onLogout($event)"
  (search)="searchMail($event)"
></app-navigation>

<section class="container-fluid" *ngIf="!loading">
  <div class="row">

    <nav app-label-sidebar
      class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar"
      [searchTerm]="searchTerm"
      (folderSelected)="onFolderSelected($event)"
    ></nav>

    <main app-mail-list class="col-sm-8 ml-sm-auto col-md-9 pt-3"
      [messages]="messageList"
      (reply)="replyTo($event)"
      (forward)="forwardMessage($event)"
      (remove)="deleteMessage($event)"
    >
      <h2>Content!</h2>
    </main>

  </div>
</section>
