<div class="fixed-top header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="javascript:void(0)">
      <img src="/assets/raf-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> {{ title }}
    </a>

    <div class="collapse navbar-collapse">

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               #searchField
        />
      </form>

      <ul class="navbar-nav ml-auto mt-2 mt-md-0">

        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" (click)="composeNewMail()">
            <i class="fa fa-fw fa-plus"></i>
            Compose
          </a>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{ loggedUser }} <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a href="javascript:void(0)" class="dropdown-item" (click)="onLoggedOut()">
              <i class="fa fa-fw fa-power-off"></i> Log Out
            </a>
          </div>
        </li>

      </ul>

    </div>

  </nav>
</div>
